.header {
    font-family: 'Permanent Marker', cursive;
    letter-spacing: 3px;

}

.comm {
    font-family: 'Carme', sans-serif;
}

.movieButton {
    font-family: 'Caveat', cursive;
    letter-spacing: 1px;
    font-size: 20px;
}

body{
    background: url(https://media.giphy.com/media/3vxGcseCtj6r83EgQi/giphy.gif);
}

.jumbotron{
    margin-top: 20px;
}

#gif-town {
    display: none;
    background: url(../images/connectwork.png);
    margin-bottom: 20px;
}

#thoughts{
    margin-bottom: 20px;
}


.card-text{
    font-family: 'Carme', sans-serif;
    padding-top: 10px;
}

.title-slot{
    font-size: 22px;
}

.sample {
    width: 700px;
    margin: 10px;
    width: 100%;
    border: 0 none;
}

.clickGif {
    width:100%;
}

.gifDiv {
    width: 30%;
    word-wrap: break-word;
}


/* messing with some media queries */
/* and they seem to work just fine. :) */

@media screen and (max-width: 1200px) {

    body {
      max-width: 960px;
    }
  
    .samples{
        width: 90%;
    }

    .gifDiv {
        width: 45%;
    }

  }
  
  @media screen and (max-width: 768px) {
  
    body {
        max-width: 748px;
    }

    .samples{
        width: 90%;
      }

    .gifDiv{
        width: 90%;
    }
  
  }
  
  @media screen and (max-width: 702px) {
  
    .samples{
        width: 90%;
    }

    .gifDiv{
        width: 90%;
    }
  
  }